/** **************************************
* Fonts: app
*************************************** */
@import '@fontsource-variable/dm-sans';

@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';

/** **************************************
* Plugins
*************************************** */
/* scrollbar */
@import './components/scrollbar/styles.css';

/* chart */
@import './components/chart/styles.css';

/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

:root {
  --font-heading: 'Outfit', sans-serif;
}

@media print {
  .no-print,
  .MuiAppBar-root,
  .MuiDrawer-root,
  .MuiButton-root,
  .no-print-important {
    display: none !important;
  }
  
  .MuiContainer-root,
  .DashboardContent-root {
    padding: 0 !important;
    margin: 0 !important;
    max-width: none !important;
  }

  .MuiCard-root {
    box-shadow: none !important;
    border: none !important;
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* scrollbar */
@media (min-width: 900px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(145, 158, 171, 0.24);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(145, 158, 171, 0.4);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(145, 158, 171, 0.24) transparent;
}